input[type='number']{
    width:100px;
    height:40px;
    text-align: center;
    font-size: 1rem;
    outline:none ;
    border: 2px solid #2d2e32;
    border-radius: 5px;
}

.amount{
    font-weight: 300;
}


input[type=number]:hover::-webkit-inner-spin-button {
    width: 24px;
    height: 40px;
}